<div
  *ngIf="control.invalid && (control.dirty || control.touched)"
  class="error"
>
  <ng-container *ngIf="control.hasError('required')">
    this field is required.
  </ng-container>
  <ng-container *ngIf="control.hasError('pattern')">
    the value is not valid.
  </ng-container>
  <ng-container *ngIf="control.hasError('email')">
    this not valid email.
  </ng-container>
  <ng-container *ngIf="control.hasError('min')">
    the value is less than the minimum value.
  </ng-container>
  <ng-container *ngIf="control.hasError('max')">
    the value is exceeded the maximum value.
  </ng-container>
  <ng-container *ngIf="control.hasError('minLength')">
    the value length is less than minimum length.
  </ng-container>
  <ng-container *ngIf="control.hasError('maxLength')">
    the value length is exceeded the maximum length.
  </ng-container>
</div>
