<div [formGroup]="form">
  <div>
    <label>username</label>
    <input type="text" formControlName="username" />
  </div>
  <div>
    <label>username</label>
    <input
      type="text"
      formControlName="email"
      placeholder="example@example.com"
    />
  </div>
  <div>
    <label>password</label>
    <input type="password" formControlName="password" />
  </div>
  <div>
    <label>age</label>
    <input type="text" formControlName="age" />
  </div>
  <div class="address-block">
    <span>addresses ({{ address.controls.length }})</span> &nbsp;
    <button (click)="addNewAddress()">Add New Address ➕</button>

    <ng-container
      *ngFor="let fg of address.controls; let i = index; let c = count"
    >
      <div [formGroup]="fg" class="address-item">
        <div>
          <button (click)="removeAddress(i)" [disabled]="c == 1">
            remove ⛔
          </button>
          <label>name</label>
          <input type="text" formControlName="name" />
        </div>
        <div>
          <label>country</label>
          <input type="text" formControlName="country" />
        </div>
        <div>
          <label>city</label>
          <input type="text" formControlName="city" />
        </div>
        <div>
          <label>town</label>
          <input type="text" formControlName="town" />
        </div>
      </div>
    </ng-container>
  </div>
  <div>
    <button (click)="save()" [disabled]="form.invalid">save 💾</button>
  </div>
</div>

<div class="values">
  <div>
    <pre>{{ form.value | json }}</pre>
  </div>
</div>
